html, body {
	background: #3b2f4e; 
	color: white;
}

body {
	/*padding: 5rem;*/
}

.logo img,
.logo-spacer {
	width: 150px;
}

section {
	display: none;
}
section.show {
	display: block;
}

h1,h2,h3,h4 {
	font-family: 'Playfair Display', serif;
}

.popup {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 555;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80px;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.4s;
}

.alert.invis {
	opacity: 0;
}

/*.test-message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	border-radius: 0;
}
*/
.offline {
	opacity: 0.25;
	pointer-events: none;
}

/*.test-message:hover,
.test-message:focus,
.test-message:active {
	background-color: #696969;
}

.test-message img {
	width: 100%;
	height: auto;
	max-width: 250px;
}
*/
.intro {
	margin: 3rem 0;
}

img.card-img-top {
/*	height: 50px; */
	object-fit: contain;
	/*margin-top: 1.5rem;*/
}

.card-header {
	height: 120px;
	display: flex;
	align-items: center;
}

.card-title {
	margin-bottom: 0;
}

.card-body p:last-child {
	margin-bottom: 0;
}

.scrollable {
	height: calc(100vh - 110px);
	overflow: scroll;
	padding: 1rem;
}


/*Nav*/
nav {
	display: flex;
	align-items: center;
	/*position: fixed;*/
	width: 100%;
	padding: 15px 30px;
	z-index: 5;
	height: 110px;
	background: #3f4046;
	/*margin-bottom: 2rem;*/
}
nav .logo {
	/*margin-right: 3rem;*/
}
ul.menu, ul.menu li {
	display: inline-block;
}
ul.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #fff;
}
ul.menu li {
	/*margin-right: 3rem;*/
	position: relative;
}
ul.menu li a, 
ul.menu li span {
	display: block;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
ul.menu li.active:after, 
ul.menu li:hover:after {
	display: block;
	content: "";
	background: #eab491;
	width: 100%;
	height: 4px;
	position: absolute;
}


/*Boostrap*/
.btn-primary {
	color: #3b2f4e;
	background-color: #eab491;
	border-color: #eab491;
	text-transform: uppercase;
}

.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover {
	background: #de9e75;
	border-color: #de9e75;
}